* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.footer {
    padding: 12px 0;
    width: 100%;
    height: 48px;
    justify-content: space-between; 
    display: flex;
}
.footer .container {
    display: flex;
    width: 100%;
  max-width: 1600px;
  justify-content: space-between;   
  margin: 0 auto;
}
.footer .left {
    color: #32475cde;
    font-weight:500;
}
.footer .left span {
    color:#6769f9;
    cursor: pointer;
}
.footer .right {
    display: flex;
    gap: 16px;
    color:#6769f9;
    font-weight:500;
}
.footer .right p {
    cursor: pointer;
}