* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: sans-serif;
}
.forgot {
    width: 100%;
    height: 100vh;
}
.forgot .container {
    height: 100vh;
    display: flex;
     width: 100%;
  max-width: 2000px;
  margin: 0 auto;
}
.forgot .left {
    width: 77%;
    height: 100%;
    background-color: #f5f5f9;
    position: relative;
}
.forgot .left .banner {
    background: url(../imgs/login/7.png) no-repeat;
    background-size: contain;
    position: absolute;
    width: 70%;
    height: 70%;
    top: 15%;
    left: 23%;
}
.forgot .right {
    width: 36%;
    display: flex;
    flex-direction: column;
    padding: 0 110px;
    margin: auto 0;
    gap: 15px;
}
.forgot .right .right1 {
    display: flex;
    gap: 5px;
    align-items: center;
}
.forgot .right .right1 h1 {
    color: #32475cde;
    font-size: 28px;
}
.forgot .right .p1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #32475cde;
}
.forgot .right .p2 {
    font-size: 16px;
    color: #989da8;
    line-height: 1.5;
}
.forgot .right .p3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.forgot .right a {
    color: #696cff;
    text-decoration: none;
    font-size: 14px;
}